<h2 align="center">Title: <%= @article.title %></h2>

<p>
  <strong>Author:</strong> <%= link_to @article.user.username, user_path(@article.user) %><br>
  <%= pluralize(@article.user.articles.count, 'article') %>
</p>

<h4 class="center description"><strong>Description</strong></h4>
<hr>

<%= simple_format(@article.description) %>

<% if @article.categories.any? %>
    <p><strong>Categories:</strong> <%= render @article.categories %></p>
<% end %>

<div class="article-actions">
<% if @current_user.present? && (@current_user == @article.user || @current_user.admin?) %>
      <%= link_to "Edit", edit_article_path(@article), class: "btn btn-xs btn-primary" %>
      <%= link_to "Delete", article_path(@article), method: :delete,
                                          data: { confirm: "Are you sure ?" },
                                          class: "btn btn-xs btn-danger" %>
    <% end %>
    <%= link_to "View all blog's articles", articles_path, class: "btn btn-xs btn-success" %>
  </div>
