<h1>Showing selected Article</h1>

<p>
  Author: <%= link_to @article.user.username, user_path(@article.user) %><br>
  <%= pluralize(@article.user.articles.count, 'article') %>
</p>

<p>
  Title: <%= @article.title %>
</p>

<p>
  Description: <%= @article.description %>
</p>

<%= link_to "Edit this article", edit_article_path(@article) %> |
<%= link_to "Back to articles listing", articles_path %>
